<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电影评论</title>
    <%- include common %>
</head>
<body>
    <%- include('head',{title:'hotel'})%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <h2 class="text-danger ">民宿介绍</h2>
                <div class="thumbnail">
                    <img src="<%- result.images.large %>" style="height:350px;width:100%" alt="">
                    <div class="caption">
                        <h4 class="text-danger "> <%-result.title%></h4>
                        <p class="text-success">评分 : <%- result.rating.average %></p>
                        <p class="text-warning">价格 : ￥<%- result.genres %> /每晚</p>              
                        <button class="btn btn-danger" onclick="history.go(-1)">返回</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <h2 class="text-success ">添加评论</h2>
                <form
                    action="/comment/submit?mid=<%- result.id %>"
                    method="POST"
                >
                    <div class="form-group">
                        <label for="title">标题:</label>
                        <input name="title"  type="text" class="form-control" id="title" placeholder="请输入标题">
                    </div>
                    <div class="form-group">
                        <label for="content">内容:</label>
                        <textarea name="content" class="form-control" id="content" cols="40" rows="15" placeholder="请输入内容"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info">提交评论</button>
                </form>
            </div>
        </div> 
    </div>

    <script>
       
    //    $("#content").xheditor();  实例化

        $(pageInit);
        //  comment.ejs  /comment/index
        function pageInit(){
            $.extend(XHEDITOR.settings,{shortcuts:{"ctrl+enter":submitForm}});
            // $("#ele").xheditor();
            $("#content").xheditor({   //初始化 富文件编辑框
                html5Upload:false,
                upMultiple:"1",

                upLinkRrl:"upload.html",
                upLinkExt:"zip,rar,txt",

                upImgUrl:"/comment/uploadImg",   // 图片上传的服务器  
                upImgExt:"jpg,jpeg,gif,png",

                upFlashUrl:"upload.php",
                upFlashExt:"swf",

                upMediaUrl:"upload.php",
                upMediaExt:"wmv,avi,wma,mp3,mid"

            });
        };

        function insertUpload(arrMsg){
            console.log(arrMsg);
            var i,msg;
            for(var i=0;i<arrMsg.length;i++){
                msg=arrMsg[i];
                console.log(msg);
                $("#uploadList").append('<option value="'+msg.id+'">'+msg.localname+'</option>')
            }
        };

        function submitForm(){
            $("#frmDemo").submit();
        }
    </script>
</body>
</html>